@import "_variables.scss";

#bandeja{
  background:$negro;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ofertaInt{
    color: #fff ;
    // display: none;
    width: 80%;
    border: solid;
    overflow-x:hidden ;
    img{
      width: 100%;
      height: auto;
    }
    p{
      white-space: pre-wrap !important;
    }
    padding: 1rem;

  }