---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Shopcards from '../components/Shopcards.astro';
---

<Layout title="J.P. Barras Electricité SA" description="J.P. Barras Electricité SA vous propose différents services dans le domaine de l’électricité comme de l’électroménager ainsi qu’un magasin, le Shop in Crans,">
	
	<Hero encabezado="<span class='reset'>Tout pour</span> chez vous" parrafo="<b>J.P. Barras Electricité SA</b> vous propose différents <b>services</b> dans le domaine de <b>l’électricité comme de l’électroménager ainsi qu’un magasin, le Shop in Crans</b>, situé au cœur de la station dédié notamment à la quincaillerie et à <b>l’art de la table</b>." imagenurl="carrusel-home-jpbarras-1.webp" ></Hero>

	<div class="bandeja">
		<h2>Shop in Crans - Actualitéssssss</h2>
	</div>
<Shopcards></Shopcards>
</Layout>
