---
import Layout from '../layouts/Layout.astro';

---

<Layout title="J.P. Barras Electricité SA" description="J.P. Barras Electricité SA vous propose différents services dans le domaine de l’électricité comme de l’électroménager ainsi qu’un magasin, le Shop in Crans,">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></
	</main>
</Layout>
