---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="J.P. Barras Electricité SA" description="J.P. Barras Electricité SA vous propose différents services dans le domaine de l’électricité comme de l’électroménager ainsi qu’un magasin, le Shop in Crans,">
	<div class="bandeja">
		<Nav></Nav>
		<Hero encabezado="Tout pour chez vous" parrafo="J.P. Barras Electricité SA vous propose différents services dans le domaine de l’électricité comme de l’électroménager ainsi qu’un magasin, le Shop in Crans, situé au cœur de la station dédié notamment à la quincaillerie et à l’art de la table." imagenurl="carrusel-home-jpbarras-1.webp" ></Hero>
	</div>
</Layout>
