---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BannerNav from "../components/BannerNav.astro";
import Bloque from "../components/Bloque.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("fr");
---

<Layout
  title="J.P. Barras Electricité SA | Services"
  description="Service de gravure, de copie de clés minute et de dépôt de gaz"
>
  <Hero
    encabezado="Services"
    parrafo="Nous offrons également, au sein de notre magasin Shop in Crans, un <b>service de gravure, de copie de clés minute et de dépôt de gaz.</b>"
    imagenurl="/services-main-section.webp"
    home="false"
  />


    <div class="bandeja">
      <div class="zigzag">

        
        <Bloque imagen="/service-gravure.webp" encabezado="Gravure" parrafo="<b>Nos spécialistes vous proposent un service de gravure</b> de qualité sur différents supports comme par exemple :  <ul class='disc'> <li> plaquette de boîte aux lettres </li> <li>plaquette de sonnette et interphone </li> <li>plaquette à la découpe sur mesure </li> <li>gravure de médailles pour animaux </li></ul>" liga="#"></Bloque>
        
        <Bloque imagen="/service-copie-de-cles-minute.webp" encabezado="Copie de clés minute" parrafo="Vous avez besoin d’un double de clé? <b>Chez Shop In Crans nous reproduisons vos clés</b> selon nos nombreux modèles disponibles sur place. Qu’il s’agisse d’une porte d’entrée, une porte de cave ou d’une boîte aux lettres, nous répondons à vos besoins. </br><b>Nous pouvons également commander vos clés spéciales ou sécurisées</b> (uniquement sur présentation des documents exigés)." liga="#"></Bloque>
        
        <Bloque imagen="/service-shop-in-crans-depot-de-gaz.webp" encabezado="Dépôt de gaz" parrafo="Grâce au service dépôt-gaz de Shop in Crans vous ne tomberez plus à court de gaz pendant la cuisson de votre entrecôte. <b>Vous pouvez acheter ou échanger, dans notre magasin, vos bouteilles de gaz</b> métalliques ou plastiques. Différentes tailles sont disponibles." liga="#"></Bloque>
        
      </div>
     
 


    <BannerNav
      encabezado="Contact"
      parrafo="Lorem ipsum dolor sit amet consectetur. Tincidunt ac et leo leo arcu commodo id vitae aliquam"
      liga="/contact"
      imagen="/contact-main-section.webp"
    />
  </div>
</Layout>

<style lang="scss">
  @import "../estilos/_variables.scss";

  .zigzag{
    margin: 8rem 0 $margen-abajo 0;
    @include cel{
      margin:  0 0 $margen-abajo 0;
    }
  }
  
</style>
