---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import BannerNav from "../../components/BannerNav.astro";
// 46.30677523638661, 7.467911788923021
const lat = "46.307450";
const lang = "7.471120";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("it");
---

<Layout
  title="J.P. Barras Electricité SA | Contact"
  description="Lorem ipsum dolor sit amet consectetur. Tincidunt ac et leo leo arcu commodo id vitae aliquam"
>
  <Hero
    encabezado="Contact"
    parrafo="Vous avez besoin de conseils ou de renseignements? <b>Notre équipe se tient à votre disposition.</b>"
    imagenurl="/contact-main-section.webp"
    home="false"
  />

  <div class="bandeja">
    <div id="contacto">
      <div id="contaizq">
        <img src="/jpbarras-isotipo.svg" alt="JP Barras contact" />
      </div>
      <div id="contader">
        <div class="conte">
          <h2>Heures d’ouverture</h2>
          <span>(varie selon la saison)</span>
          <ul>
            <li>
              <b>Du lundi au vendredi :</b>
              <br />
              8h00 -12h30 14h30-19h00
            </li>
            <li>
              <b>Samedi</b>
              <br />
              8h00 -12h30 14h30-18h30
            </li>
          </ul>
        </div>
        <div class="conte">
          <ul>
            <li>
              <a href="mailto:shopincrans@jpbarras.ch"
                ><img src="/icon-email.svg" alt="JP Barras email" />
                <b>shopincrans@jpbarras.ch</b>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/jpbarras">
                <img src="/icon-facebook.svg" alt="JP Barras Facebook" />
                <b>/suivez-nous sur</b>
               <!-- <a href="https://www.facebook.com/jpbarras" target="_blank">
                <b>/suivez-nous sur</b>
              </a>  -->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="contacto2">
      <div id="mapa">aqui el mapa</div>
      <div id="formulario">
        <div class="conte">
          <p>
            « Votre demande »
          </p>
          <div class="formu">  
            <form id="forma" >

              <input type="text" name="prenom" id="prenom" placeholder="Prénom" />
              <input type="text" name="nom" id="nom" placeholder="Nom" />
              <input
              type="text"
              name="adresse"
              id="adresse"
              placeholder="Adresse"
              />
              <input type="text" name="ville" id="ville" placeholder="Ville" />
              <input type="text" name="email" id="email" placeholder="Email" />
              <textarea
              name="commentaires"
              id="commentaires"
              cols="30"
              rows="10"
              placeholder="Commentaires"></textarea>
              <button class="boton" id="contactoBtn">Envoyer</button>
              <!-- Nous vous remercions pour votre message. Notre équipe vous contactera dans les meilleures délais. -->
            </form>
            <div id="msj"></div>
            </div>
          </div>
        </div>
    </div>
  </div>

  
  <style lang="scss">
    @import "../../estilos/_variables.scss";
    #contacto {
      display: flex;
      margin-bottom: $margen-abajo;
      margin-top: 8rem;
      @include cel {
        margin-top: 0rem;
        flex-wrap: wrap;
        #contaizq {
          padding: $margen-abajo 0;
        }
        #contaizq,
        #contader {
          flex: 1 0 100%;
          flex-wrap: wrap;
          .conte {
            flex: 1 0 100%;
          }
        }
      }
    }
    #contaizq {
      background: $negro;
      flex: 1 0 30%;
      display: inherit;
      justify-content: center;
      align-items: center;
      transform: translateY(-1.5rem);
      @include cel {
        transform: translateY(0);
      }
    }
    #contader {
      padding: $margen-abajo;
      flex: 1 0 70%;
      gap: 2rem;
      background: $verde;
      display: flex;
      h2 {
        color: #fff;
        padding-bottom: 0;
      }
      span {
        font-size: 0.7rem;
        color: #fff;
        display: block;
        padding-bottom: 1rem;
      }
      .conte {
        flex: 1 0 50%;
        &:last-child {
          display: flex;
          align-items: center;
          li {
            a {
              margin-bottom: 0.4rem;
              display: flex;
              align-items: center;
            }
          }
        }
        img {
          margin-bottom: 0;
          margin-right: 0.5rem;
        }
      }
    }
    #contacto2 {
      display: flex;
      gap: 2rem;
      margin-bottom: $margen-abajo;
      @include cel {
        flex-wrap: wrap;
        #mapa,
        #formulario {
          flex: 1 0 100%;
          .conte {
            p{
              padding-bottom: 1rem;
            }
          }
        }
        #mapa {
          height: 35vh;
        }
      }
      #mapa,
      #formulario {
        flex: 1 0 50%;
      }
      #mapa {
        border-radius: 1rem;
      }
      #formulario {
        display: inherit;
        justify-content: center;
        align-items: center;
        .conte,
        ul {
          width: 70%;
          @include cel{
            width: 80%;
          }
        }
      }
    }
    #hero {
      .der {
        @include cel {
          height: 20vh;
        }
      }
    }
  </style>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""
  />
  <script src="/leaflet.js" is:inline></script>

  <script define:vars={{ lat, lang }}>
    var map = L.map("mapa").setView([lat, lang], 15);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);
    var circle = L.circle([lat, lang], {
      color: "red",
      fillColor: "#E76128",
      fillOpacity: 0.5,
      radius: 100,
    }).addTo(map);
  </script>

  <script>
    import $ from 'jquery'

$(function () {
    $("#contactoBtn").on("click",function (e) {
      var prenom = $("#prenom").val();
      var nom = $("#nom").val();
      var adresse = $("#adresse").val();
      var ville = $("#ville").val();
      var email = $("#email").val();
      var commentaires  = $("#commentaires").val();
  
      $("#msj").empty(); // To empty previous error/success message.
      // Checking for blank fields.
  
      if (
        prenom == "" ||
        nom == "" ||
        adresse == "" ||
        email == "")
         {
        alert("Veuillez remplir tout les champs");
      } else {
        $.post(
          "/contacto.php",
          {
            prenom1: prenom,
            nom1: nom,
            adresse1: adresse,
            ville1: ville,
            email1: email,
            commentaires1: commentaires,
          },
          function (data) {
            $("#msj").append(data); // Append returned message to message paragraph.
            $("#forma")[0].reset(); // To reset form fields on success.
            if (
              data == "Nous vous remercions pour votre message. Notre équipe vous contactera dans les meilleures délais."
            ) {
            }
          }
        );
      }
  
      e.preventDefault();
    });
  });
  </script>
</Layout>
