---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import BannerNav from "../../components/BannerNav.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("it");
---

<Layout
  title="J.P. Barras Electricité SA | Électroménager"
  description="Nous vous conseillons dans le choix de vos appareils, assurons la pose et l’entretien de votre électroménager."
>
  <Hero
    encabezado="Électroménager"
    parrafo="Nous vous conseillons dans le choix de vos appareils, <b>assurons la pose et l’entretien de votre électroménager.</b> "
    imagenurl="/electromenager-main-section.webp"
    home="false"
  />

  <div class="bandeja">
    <div id="electro">
      <div class="izq">
        <div class="conte">
          <h2>
            Nous travaillons principalement avec les 8 <span
            >marques suivantes:</span>
          </h2>
        </div>
        <div class="thumbs">
          <ul>
            <li><img src="/electromenager-a.webp" alt="electromenager" /></li>
            <li><img src="/electromenager-b.webp" alt="electromenager" /></li>
            <li><img src="/electromenager-c.webp" alt="electromenager" /></li>
          </ul>
        </div>
      </div>
      <div class="der">
        <div class="conte">
          
          <a href="https://www.electroluxgroup.com/" target="_blank"><img src="/electromenager-electrolux.svg" alt="electrolux"></a>
          <a href="https://www.miele.com/" target="_blank"><img src="/electromenager-miele.svg" alt="miele"></a>
          <a href="https://www.siemens.com/" target="_blank"><img src="/electromenager-siemens.svg" alt="siemens"></a>
          <a href="https://www.bosch.com/" target="_blank"><img src="/electromenager-bosch.svg" alt="bosch"></a>
          <a href="https://www.gaggenau.com/" target="_blank"><img src="/electromenager-gaggenau.svg" alt="gaggenau"></a>
          <a href="https://www.vzug.com/" target="_blank"><img src="/electromenager-v-zug.svg" alt="v-zug"></a>
          <a href="https://www.schulthess.ch/" target="_blank"><img src="/electromenager-schulthess.svg" alt="schulthess"></a>
          <a href="https://home.liebherr.com/fr/che/products/%C3%A9lectrom%C3%A9nager/%C3%A9lectrom%C3%A9nager.html" target="_blank"><img src="/electromenager-liebherr.svg" alt="liebherr"></a>
        </div>
      </div>

    </div>

      <BannerNav
        encabezado="Shop in Crans"
        parrafo="Plus de 10'000 articles, un service de qualité et personnalisé..."
        liga="/shopincrans"
        imagen="/shop-in-crans-home.webp"
      />
  </div>

  <style lang="scss">
    @import "../../estilos/_variables.scss";

    #electro{
      display: flex;
      margin: $margen-abajo 0;
      @include cel{
        flex-wrap: wrap;
        margin: 0 0 $margen-abajo 0;
        .der{
          margin-top: $margen-abajo;
        }
      }
      .izq, .der{
        flex: 1 0 50%;
        @include cel{
          flex: 1 0 100%;
        }
      }
      .izq{
        background: $azul;
        h2{
          color: #fff;
          span{
            color: $negro;
          }
        }
        .conte{
          display: flex;
          padding: 10%;
          align-items: center;
          width: 80%;
        }
        .thumbs{
          background:$negro;
          ul{
            display: flex;
            gap:1rem;
            padding: 1rem;
          }

        }
      }

      .der{
        display: flex;
        justify-content: center;
        align-items: center;
        .conte{
          width: 80%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-between;
          align-items: center;
          img{
            padding: 1rem;
          }
        }
      }
    }
  </style>
</Layout>
