---
---

<div class="scroll-image swiper">
  <div class="swiper-wrapper">
    <img
      src="carrusel-home-jpbarras-1.webp"
      alt="JPBarras Crans montana"
      class="swiper-slide"
    />
    <img
      src="carrusel-home-jpbarras-2.webp"
      alt="JPBarras Crans montana"
      class="swiper-slide"
    />
    <img
      src="carrusel-home-jpbarras-3.webp"
      alt="JPBarras Crans montana"
      class="swiper-slide"
    />
  </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<style lang="scss">
  @import "../estilos/_variables.scss";

  .scroll-image {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-columns: 1fr;
    height: 100%;
    // overflow: hidden;
    img {
      object-fit: cover;
      // grid-column: 1;
      // grid-row: 1;
      width: 100%;
      height: 100%;

      @include cel {
        height: 63vh;
      }
    }
  }
</style>

<script>
  import Swiper, { Autoplay, EffectFade } from "swiper";
  Swiper.use([EffectFade, Autoplay]);
 
  const swiper = new Swiper(".swiper", {
    // slidesPerView: 3,

    spaceBetween: 30,
    effect: "fade",
    // centeredSlides: true,
    autoplay: {
      delay: 3000,
    },
    loop: true,
  });

</script>
