---
---

<footer>
  <div class="izq">
    <img
      src="/jpbarras-logo-ompleto-footer.svg"
      alt="JP Barrass Electricité SA, Shop in Crans"
    />
  </div>
  <div class="der">
    <div>

      <a href="tel:0274813956" class="tel">027 481 39 56</a>
      <ul>
        <li>
          <img src="/icon-email.svg" alt="email J.P. Barras" /><a
          href="mailto:shopincrans@jpbarras.ch">shopincrans@jpbarras.ch</a>
        </li>
        <li>
          <img src="/icon-marker.svg" alt="J.P. Barras location" /><a href="https://www.google.com/search?sxsrf=ALiCzsYK4HDvAZ9dYvH9HckPt2-Nf_Ll0g:1670368023075&q=Quincaillerie+Shop+in+Crans+%26+Jean-Paul+Barras+Electricit%C3%A9&ludocid=14600633811878628485&gsas=1&lsig=AB86z5V-lhW7-NM2PJ3RCKNadcMz&sa=X&ved=2ahUKEwij_aLljeb7AhVML0QIHUw9Ce8QoAJ6BAgTEAw&biw=1706&bih=883&dpr=2.25" target="_blank"
          >Grand-Place 7 - Crans-Montana</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#" target="_blank">
            <img src="/icon-facebook.svg" alt="facebook">
          </a>
          <a href="#" target="_blank">
            <img src="/icon-instagram.svg" alt="instagram">
          </a>
          <h4>Suivez-nous</h4>
        </li>
      </ul>
    </div>
  </div>
</footer>
<style lang="scss">
@import "../estilos/_variables.scss";  

footer{
  display: flex;
  height: 25vw;
  @include hdplus{
    height: 18vw;
  }
  @include cel{
    flex-wrap: wrap;
    .izq, .der{
      flex: 1 0 100%;
      padding: 8vh 4rem;
    }
  }
}
.izq{
  display: inherit;
  justify-content: center;
  align-items: center;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex: 1 0 50%;
  background:$negro;
}
.der{
  display: inherit;
  justify-content: center;
  align-items: center;
  flex: 1 0 50%;
  background:$verde url(jpbarras-logo-footer.svg) no-repeat;
  background-position:  100% 100% ;
  background-size: 30%;
  color: #fff;
  .tel{
    font-size: clamp(1.6rem, 1.7vw, 5rem);
    font-weight: bold;
    margin-bottom: .5rem;
  }
  li{
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    img{
      padding-right: .5rem ;
    }
  }
  a{
    color: #fff;
  }
}
</style>