---
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<nav>
  <img src="jpbarras-logo.svg" alt="JPBarras electricite in Crans Montana" />
  <ul>
    <li><a href="#">Électricité</a></li>
    <li><a href="#">Électroménager</a></li>
    <li><a href="#">Shop in Crans</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <ul>
    <li><a href="#">it</a></li>
    <li><a href="#">en</a></li>
  </ul>
</nav>

<style lang="scss">
	@import "../estilos/_variables.scss";
  nav {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    ul {
      display: inherit;
	  align-items: center;
      li {
        padding: 0 .7rem;
		@include hd{
			padding: 0 1rem;
		}
		
      }
    }
  }
</style>
