---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // quitamo el primero "/"

import {
  LanguageSelector,
} from "astro-i18next/components";
import { localizePath  } from "astro-i18next";
import i18next from "i18next";
const lang = i18next.language;
---

<nav>
  <button class="menu-toggle">Menu</button>
  <a href="/">
    <img
    src="/jpbarras-logo.svg"
    alt="JPBarras electricite in Crans Montana"
    id="logo"
    />
  </a>
  <ul>

    <!-- <li><a href={`/${lang}/electricite`} class={currentPath === "electricite" ? "selected" : ""} >Électricité</a></li> -->
    <li><a href="/electricite" class={currentPath === "electricite" ? "selected" : ""} >Électricité</a></li>
    <li><a href="/electromenager" class={currentPath === "electromenager" ? "selected" : ""}>Électroménager</a></li>
    <li><a href="/shopincrans" class={currentPath === "shopincrans" ? "selected" : ""}>Shop in Crans</a></li>
    <li><a href="/services" class={currentPath === "services" ? "selected" : ""}>Services</a></li>
    <li><a href="/contact" class={currentPath === "contact" ? "selected" : ""}>Contact</a></li>
  </ul>
  <ul>
    <!-- <LanguageSelector ></LanguageSelector> -->
    <li><a href="/it">it</a></li>
    <li><a href="/en">en</a></li>
  </ul>
</nav>

<style lang="scss">
  @import "../estilos/_variables.scss";


   // animacion menu
   @keyframes menuAbierto {
   from{
      height:5rem;
    }
    to {
      height: 60vh;
    }
  }
  @keyframes menuCerrado {
    from {
      height: 60vh;
    }
    to {
      height: 5rem;
    }
  }
  
  .menuFullAbierto {
    animation: menuAbierto 1.2s ease forwards;
    ul {
      display: block;
      visibility: visible !important;
      opacity: 1 !important;
    }
  }
  
  .desanimaMenu {
    animation: menuCerrado 1s ease backwards ;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    
    @include cel {
      flex-direction: column;
      overflow-y: hidden;
        height: 5rem;
    }
    ul {
      display: inherit;
      align-items: center;
      @include cel{
        flex-direction: column;
        &:last-child{
        padding-top: 1rem;
        border-top: solid 1px $verde;
        display: flex;
        justify-content: center;
        flex-direction:row;
        li{
          padding: 0 1rem;
        }
      }
      }
      li {
        padding: 0 0.7rem;
        @include cel{
          text-align: center;
          padding: .3rem 0;
          a{
            font-size: 1.5rem;
          }
        }
        @include hd {
          padding: 0 1rem;
        }
      }
    }
    #logo{
      @include cel {
        width: 16rem;
        padding-bottom: 3rem;
      }
    }
  }

  

  .menu-toggle {
  position: absolute;
  display: none;
  @include cel {
    display: block;
    z-index: 99000;
  }
  right: 5vh;
  top: 2.5vh;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid;
  color: $verde;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}
button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}


</style>
