---
---

<section id="shophome">
  <div class="slide">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="card">
          <div>
            <img src="https://placehold.co/600x400" alt="Poner para seo" />
          </div>

          <div class="cat">Électroménager</div>
          <div class="conte">
            <h3>Offres d'affaires</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aperiamdoloremque consectetur officiis?
            </p>
            <a href="#" class="cta">en savoir plus</a>
          </div>
        </div>

        <div class="card">
          <div>
            <img src="https://placehold.co/600x400" alt="Poner para seo" />
          </div>
          <div class="cat">Électroménager</div>
          <div class="conte">
            <h3>Offres d'affaires 2</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
              doloremque consectetur officiis?
            </p>
            <a href="#" class="cta">en savoir plus</a>
          </div>
        </div>

        <div class="card">
          <div>
            <img src="https://placehold.co/600x400" alt="Poner para seo" />
          </div>
          <div class="cat">Électroménager</div>
          <div class="conte">
            <h3>Offres d'affaires</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
              doloremque consectetur officiis?
            </p>
            <a href="#" class="cta">en savoir plus</a>
          </div>
        </div>
      </div>
    </div>

    <div data-glide-el="controls">
        <button data-glide-dir="<" class="btnFlechaVacio invertido">
          <img src="assets/der-doble.svg" alt="arrow volken" />
        </button>
        <button data-glide-dir=">" class="btnFlechaVacio">
          <img src="assets/der-doble.svg" alt="arrow volken" />
        </button>
      </div>

      
  </div>
</section>

<style lang="scss">
  @import "../estilos/_variables.scss";


  #shophome {
    margin-left: $margen-riel;
    margin-top: $margen;
    margin-bottom: $margen-abajo;
  }

  .card {
    background: $beige;
    position: relative;
    @include cel{
        width: 400px;
    }

    .cat {
      background: $negro;
      color: $verde;
      position: absolute;
      padding: 0.5rem 1rem;
      font-size: 0.6rem;
      right: 0;
      top: 0;
    }
    .conte {
      padding: 2rem;
    }
    h3{
        white-space: normal;
    }
    p{
        padding: 1rem 0 ;
        white-space: normal;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      aspect-ratio: 1.5/1;
    }
  }
</style>

<script>
  import { slide } from "../js/glide";
  slide();
</script>
