---
import Cards from "./Cards";
---

<section id="shophome">
  <div class="slide">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <Cards client:only />
      </div>
    </div>

    <div data-glide-el="controls">
      <button data-glide-dir="<" class="btn">
        <img src="der.svg" alt="arrow jpbarras" />
      </button>
      <button data-glide-dir=">" class="btn">
        <img src="der.svg" alt="arrow jpbarras" />
      </button>
    </div>
  </div>
</section>

<!-- los estilos de card estan en globales  -->
<style lang="scss">
  @import "../estilos/_variables.scss";
  @import "@glidejs/glide/src/assets/sass/glide.core";

  #shophome {
    margin-left: $margen-riel;
    margin-top: $margen;
    margin-bottom: $margen-abajo;
  }

  button {
    background: $naranja;
    border: none;
    border-radius: 10rem;
    padding: 0.7rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    @extend .anime;
    &:hover {
      background: $verde;
    }
    img {
      max-width: 0.8rem;
      height: auto;
    }
    &:first-child img {
      transform: rotate(-180deg);
    }
  }
</style>

<script>
  import { slide } from "../js/glide";
  slide();
</script>
